.experience {
	max-width: 768px;
}

.desc {
	color: var(--text-secondary);
}

.link {
	position: relative;

	font-size: var(--text-lg);

	transform: translateY(0px);
	transition: var(--transition-primary);

	z-index: 3;
}

.link svg {
	display: inline;
	margin-right: 0.25rem;
}

.link path {
	fill: var(--text-primary);
	transition: var(--transition-primary);
}

.link:hover {
	color: var(--btn-primary-color);
	transform: translateY(-3px);
	transition: var(--transition-primary);
}

.link:hover path {
	fill: var(--btn-primary-color);
	transition: var(--transition-primary);
}
