.experience {
	max-width: 768px;
}

.link {
	font-size: var(--text-lg);
	transition: all 0.3s;
}
.link:hover {
	color: var(--primary);
	transform: scale(2);
	transition: all 0.3s;
}
.link::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 0.5rem;
	background-position: center center;
	background-size: cover;
	background-image: url("/chain.svg");
}
