.link {
	display: inline;
	align-items: center;
	overflow: hidden;
}
.link svg {
	display: inline;
	transition: all 0.3s;
}

.link:hover,
.link:focus-visible {
	color: var(--primary);
}

.link:hover path,
.link:focus-visible path {
	stroke: var(--primary);
}

.link:hover svg,
.link:focus-visible svg {
	transform: translate(2px, -2px);
}

.link:focus-visible {
	outline: 2px solid var(--primary);
	outline-offset: 2px;
}
