.link {
	display: inline;
	align-items: center;
	overflow: hidden;
	transition: var(--transition-primary);
}
.link svg {
	display: inline;

	transform: translate(0px, 0px);
	transition: var(--transition-primary);
}
.link path {
	stroke: var(--text-primary);
	transition: var(--transition-primary);
}

.link:hover,
.link:focus-visible {
	color: var(--btn-primary-color);
	transition: var(--transition-primary);
}

.link:hover path,
.link:focus-visible path {
	stroke: var(--btn-primary-color);
	transition: var(--transition-primary);
}

.link:hover svg,
.link:focus-visible svg {
	transform: translate(2px, -2px);
	transition: var(--transition-primary);
}

.link:focus-visible {
	outline: 2px solid var(--btn-primary-color);
	outline-offset: 2px;
}
