.wrapper {
	max-width: var(--screen-xl);
	margin: 0px auto;
	height: 100vh;

	display: grid;
	grid-template-columns: auto auto 1fr 0.7fr;
	grid-template-rows: 1fr repeat(3, auto) 1fr;
	gap: 1rem;
}

.wrapper span {
	grid-column: 1/4;
	grid-row: 1/2;
	align-self: end;

	color: var(--btn-primary-color);
	font-size: 1.25rem;
}

.title {
	grid-column: 1/4;
	grid-row: 2/3;
	text-transform: uppercase;
	letter-spacing: 2.2px;
}

.desc {
	grid-column: 1/4;
	grid-row: 3/4;
}

.desc::before {
	content: "";
	border: 4px solid var(--btn-secondary);
}

.actions {
	grid-column: 1/2;
	grid-row: 4/5;
}

.container {
	grid-column: 4/5;
	grid-row: 1/-1;
	align-self: center;
	justify-self: end;

	height: 312px;
	width: 400px;

	border-radius: 50%;

	transform: scale(1);
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.container:hover {
	transform: scale(1.1);
}
.container:hover .profile {
	transform: translateY(0) scale(1.2);
}
.container-inner {
	position: relative;
	top: -200px;
	transform-origin: 50%;

	clip-path: path(
		"M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
	);
}
.profile {
	position: relative;
	left: 22px;
	top: 164px;

	width: 340px;

	transform: translateY(20px) scale(1.15);
	transform-origin: 50% bottom;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
	pointer-events: none;
}

.clip {
	position: absolute;
	top: 210px;
	left: 10px;

	width: 380px;
	height: 380px;

	background-color: var(--btn-primary-color);
	border-radius: 50%;

	cursor: pointer;
	pointer-events: none;
}

@media (width < 1024px) {
	.container {
		transform: scale(0.75);
	}
	.container:hover {
		transform: scale(0.85);
	}
}

@media (width < 768px) {
	.wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: min(0.5vw, 100px);
	}

	.wrapper span {
		margin-top: auto;
		align-self: flex-start;
	}

	.actions {
		width: -moz-fit-content;
		width: fit-content;
	}

	.container {
		transform: scale(0.75);
	}
	.container:hover {
		transform: scale(0.85);
	}
}
