.wrapper {
	min-height: 100dvh;
	max-width: var(--screen-xl);
	margin: 0px auto;

	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr repeat(4, auto) 0.4fr 0.5fr;
	gap: 0.25rem;
}

.info {
	grid-column: 1/2;
	grid-row: 1/2;
	align-self: end;

	color: var(--btn-primary-color);
	font-family: var(--font-header);
	font-size: 1.25rem;
}

.title {
	grid-column: 1/2;
	grid-row: 2/3;
	letter-spacing: 2.2px;
}
.subtitle {
	grid-column: 1/2;
	grid-row: 3/4;
	font-size: clamp(2rem, 4vw, 3.75rem);
	font-weight: 700;
	line-height: clamp(2rem, 4vw, 4rem);

	color: var(--text-secondary);
}

.desc {
	grid-column: 1/2;
	grid-row: 4/5;

	max-width: 600px;
	margin: 1.5rem 0rem;

	font-size: 1em;
	font-weight: 500;
}

.desc::before {
	content: "";
	border: 4px solid var(--btn-secondary);
}

.actions {
	grid-column: 1/2;
	grid-row: 5/6;
	width: -moz-fit-content;
	width: fit-content;
}

.socials {
	grid-row: 6/7;
	margin-top: 2rem;
	display: flex;
	column-gap: 1rem;
	align-items: center;
}

.link {
	padding: 0.75rem;
	border-radius: 50%;

	background-color: var(--secondary-background);
	transition: var(--transition-secondary);
}
.link:hover,
.link:focus-visible {
	outline: none;
	background-color: var(--btn-primary-color);
	transition: var(--transition-secondary);
}

.container {
	position: relative;

	grid-column: 2/3;
	grid-row: 1/-1;
	align-self: center;
	justify-self: end;

	width: 400px;
	border-radius: 50%;

	transform: scale(1);
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.container:hover {
	transform: scale(1.1);
}
.container:hover .profile {
	transform: translateY(0) scale(1.2);
}
.container-inner {
	position: relative;
	transform-origin: 50%;

	clip-path: path(
		"M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
	);
}
.profile {
	position: relative;
	left: 22px;
	top: 164px;

	width: 340px;

	transform: translateY(20px) scale(1.15);
	transform-origin: 50% bottom;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
	pointer-events: none;
}

.clip {
	position: absolute;
	top: 210px;
	left: 10px;

	width: 380px;
	height: 380px;

	background-color: var(--btn-primary-color);
	border-radius: 50%;

	cursor: pointer;
	pointer-events: none;
}

.hexagon {
	position: absolute;
	top: 90%;
	transform: rotate(10deg) scale(0.75);
}
.hexagon:nth-child(2n) path {
	fill: none;
	stroke: var(--btn-primary-color);
	stroke-width: 1px;
}
.hexagon:nth-child(2n) path {
	stroke: var(--text-primary);
}

.hexagon:nth-child(2) {
	right: 0%;
	top: 20%;
	transform: rotate(45deg) scale(1.25);
}

@media (width < 1024px) {
	.container {
		transform: scale(0.75);
	}
	.container:hover {
		transform: scale(0.85);
	}
}

@media (width < 768px) {
	.wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 150px;
	}

	.wrapper span {
		margin-top: auto;
		align-self: flex-start;
	}

	.container {
		transform: scale(0.75);
	}
	.container:hover {
		transform: scale(0.85);
	}
}
