.link {
	position: relative;

	transform: translateY(0px);
	transition: var(--transition-primary);

	z-index: 3;
}

.link:hover,
.link:focus-visible {
	transform: translateY(-3px);
	transition: var(--transition-primary);
}

.link:focus-visible {
	outline: none;
}

.link path {
	fill: var(--text-primary);
	transition: var(--transition-primary);
}
.link:hover path,
.link:focus-visible path {
	fill: var(--btn-primary-color);
	transition: var(--transition-primary);
}
