.link {
	transition: transform 0.3s;
}
.link:hover,
.link:focus-visible {
	transform: translateY(-3px);
	transition: transform 0.3s 0.1s;
}
.link:focus-visible {
	outline: none;
}
.link:hover path,
.link:focus-visible path {
	fill: var(--primary);
}
