.nav-menu {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1.75rem;
	background-color: transparent;
	z-index: 99;
	counter-reset: section;
}

.tabs {
	font-size: 1.25rem;
}

.nav-link {
	padding: 0.25rem min(16vw / 16, 1.5rem);
	transition: all 0.3s ease-in-out;
}

.nav-link::before {
	counter-increment: section;
	content: "0" counter(section) " ";
	color: var(--primary);
	font-size: 0.75em;
}

.logo:focus-visible,
.nav-link:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--primary);
}

.tabs:hover .nav-link:not(:hover) {
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}
