.nav-menu {
	position: fixed;
	top: 0px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 1rem 1.75rem;

	background-color: var(--primary-background);
	box-shadow: var(--menu-box-shadow);

	counter-reset: section;

	transition: all 0.4s;
	transform: translateY(0px);
	z-index: 2;
}

.start-menu {
	background-color: var(--secondary-background);
}

.down {
	transform: translateY(-50px);
	opacity: 0;
	transition: all 0.4s, opacity 0.3s;
}

.skip-content {
	border-radius: 4px;
	line-height: 1;
	text-decoration: none;
	padding: 1.25rem 1.75rem;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	left: -100px;
	background-color: var(--btn-primary-color);
	color: var(--primary-background);
	overflow: hidden;
	z-index: 3;
}
.skip-content:focus-visible {
	box-shadow: 4px 4px 0 0 var(--green);
	transition: var(--transition-primary);
	left: 0px;
	width: auto;
	height: auto;
}
.tabs {
	font-size: 1.25rem;
}
.tabs li {
	padding: 0rem min(1.25rem, 1vw);
}

.nav-link {
	transition: var(--transition-primary);
}

.nav-link::before {
	counter-increment: section;
	content: "0" counter(section) " ";

	color: var(--btn-primary-color);
	font-size: 0.75em;
}
.logo path {
	fill: var(--btn-primary-color);
}
.logo:focus-visible,
.nav-link:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--btn-primary-color);
}
.tabs li {
	transition: var(--transition-primary);
}
.tabs:hover li:not(:hover) {
	opacity: 0.5;
	transition: var(--transition-primary);
}
