.nav-menu {
	position: fixed;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1.75rem;
	background-color: var(--blue);
	box-shadow: 0px 10px 30px -10px rgb(15, 15, 15);
	counter-reset: section;
	transition: all 0.4s;
	transform: translateY(0px);
	z-index: 2;
}
.down {
	transform: translateY(-50px);
	opacity: 0;
	transition: all 0.4s, opacity 0.3s;
}

.skip-content {
	border-radius: 4px;
	line-height: 1;
	text-decoration: none;
	padding: 1.25rem 1.75rem;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	left: -100px;
	background-color: var(--primary);
	color: var(--blue);
	overflow: hidden;
	z-index: 3;
}
.skip-content:focus-visible {
	box-shadow: 4px 4px 0 0 var(--green);
	transition: all 0.3s linear;
	left: 0px;
	width: auto;
	height: auto;
}
.tabs {
	font-size: 1.25rem;
}
.tabs li {
	padding: 0rem 1.25rem;
}

.nav-link {
	transition: all 0.3s ease-in-out;
}

.nav-link::before {
	counter-increment: section;
	content: "0" counter(section) " ";
	color: var(--primary);
	font-size: 0.75em;
}

.logo:focus-visible,
.nav-link:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--primary);
}
.tabs li {
	transition: all 0.3s ease-in-out;
}
.tabs:hover li:not(:hover) {
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}
