@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roboto Mono";
	src: url("/fonts/RobotoMono.woff2") format("woff2");
}

:root {
	--text-primary: rgb(39, 55, 77);
	--text-secondary: rgba(39, 55, 77, 0.9);

	--primary-background: rgb(207, 219, 226);
	--secondary-background: rgb(196, 215, 225);
	--menu-background: rgb(157, 178, 191);

	--btn-primary-color: var(--text-primary);
	--btn-primary-background: theme(colors.teal.900);
	--btn-info: rgb(230, 127, 132);

	--text-shadow: rgba(73, 73, 73, 0.3);
	--bs-primary: rgba(73, 73, 73, 0.3);

	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;

	--text-lg: theme(fontSize.xl);
	--text-xl: 30rem;
	--text-2xl: 40rem;

	--primary-transition: all 0.3s linear 0.1s;
}

[data-theme="dark"] {
	--text-primary: theme(colors.slate.200);
	--text-secondary: theme(colors.gray.400);

	--primary-background: rgb(26, 25, 29);
	--secondary-background: rgb(32, 31, 35);
	--menu-background: rgba(30, 41, 59, 1);

	--text-shadow: rgba(0, 0, 0, 0.3);
	--bs-primary: rgb(19, 19, 19);

	--btn-primary-color: theme(colors.teal.300);
	--btn-primary-background: theme(colors.teal.900);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-primary);
	background-color: var(--primary-background);
	letter-spacing: -1px;
}

h1 {
	font-size: clamp(3rem, 6vw, 4.5rem);
	font-weight: 700;
	text-shadow: 1px 3px 11px var(--text-shadow);
	color: var(--text-primary);
}

h2 {
	font-size: clamp(1.25rem, 5vw, 1.5rem);
	text-shadow: 1px 3px 11px var(--text-shadow);
	word-spacing: 10px;
	line-height: 2rem;
	color: var(--text-primary);
}

h3 {
	font-size: clamp(2rem, 8vw, 3.5rem);
	font-weight: 700;
	text-shadow: 1px 3px 11px var(--text-shadow);
	text-align: center;
	color: var(--text-primary);
}

h4 {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--text-primary);
}

p {
	font-size: 1.125rem;
	color: var(--text-secondary);
}
