@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 19, 26, 37;
	--background-end-rgb: 0, 0, 0;

	--primary: theme(colors.teal.300);
	--teal-900: theme(colors.teal.900);
	--text-primary: theme(colors.slate.200);

	--gray-400: theme(colors.gray.400);
	--gray-900: theme(colors.gray.900);

	--blue: rgba(30, 41, 59, 1);

	--bg-color: #1a191d;
	--text-shadow: rgba(0, 0, 0, 0.3);

	--text-lg: theme(fontSize.xl);
	--text-xl: 30rem;
	--text-2xl: 40rem;

	--hum-menu-h: 3px;
	--hum-menu-w: 28px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 19, 26, 37;
		--background-end-rgb: 0, 0, 0;

		--primary: theme(colors.teal.300);
		--teal-900: theme(colors.teal.900);
		--text-primary: theme(colors.slate.200);

		--gray-400: theme(colors.gray.400);
		--gray-900: theme(colors.gray.900);

		--blue: rgba(30, 41, 59, 1);

		--bg-color: #1a191d;
		--text-shadow: rgba(0, 0, 0, 0.3);

		--text-lg: theme(fontSize.xl);
		--text-xl: 30rem;
		--text-2xl: 40rem;

		--hum-menu-h: 3px;
		--hum-menu-w: 28px;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: rgb(226 232 240);
	background-color: var(--bg-color);
	letter-spacing: -1px;
}

h1 {
	font-size: clamp(3.75rem, 10vw, 6rem);
	font-weight: 700;
	text-shadow: 1px 3px 11px var(--text-shadow);
	text-align: center;
	color: var(--text-primary);
}

h2 {
	font-size: clamp(1.25rem, 5vw, 1.5rem);
	text-shadow: 1px 3px 11px var(--text-shadow);
	text-align: center;
	word-spacing: 10px;
	line-height: 2rem;
	color: var(--text-primary);
}

h3 {
	font-size: clamp(2rem, 8vw, 3.5rem);
	font-weight: 700;
	text-shadow: 1px 3px 11px var(--text-shadow);
	text-align: center;
	color: var(--text-primary);
}

h4 {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--text-primary);
}

p {
	font-size: 1.125rem;
	color: var(--gray-400);
}
