.nav-menu {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.75rem;
	background-color: transparent;
	z-index: 99;
}

.nav-menu ul {
	font-size: 1.125rem;
}

.nav-tab {
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

.nav-link {
	padding: 0.25rem 1.25rem;
}

.nav-link span:before {
	font-size: 0.5em;
}

.tabs:hover nav-link:not(:hover) {
	opacity: 0.5;
	transition: all 0.4s ease-in-out;
}
