.mobile-menu {
	--box-sh: -10px 0px 20px -10px var(--bs-primary);

	position: fixed;
	right: 0px;
	top: 0px;

	height: 100vh;
	width: min(75vw, 400px);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--primary-background);
	box-shadow: var(--box-sh);

	opacity: 1;
	transform: translateX(100vw);
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	visibility: hidden;
	z-index: 5;
	counter-reset: section;
}

.open {
	transform: translateX(0vw);
	visibility: visible;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile-menu li {
	text-align: center;
	font-size: 1.25rem;
}
.mobile-menu li::before {
	counter-increment: section;
	content: "0" counter(section) " ";

	display: block;
	text-align: center;
	font-size: 0.75em;
}
.mobile-menu a:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--btn-primary-color);
}
