.link {
	color: var(--text-secondary);
	transition: var(--primary-transition);
}
.link:hover,
.link:focus-visible {
	transform: translateY(-3px);
	transition: var(--primary-transition);
}
.link:focus-visible {
	outline: none;
}

.link g,
.link circle {
	fill: var(--text-secondary);
	transition: var(--primary-transition);
}

.link g > path {
	stroke: none !important;
}

.link rect,
.link path {
	stroke: var(--text-secondary);
	transition: var(--primary-transition);
}

.link:hover g,
.link:hover circle,
.link:focus-visible g,
.link:focus-visible circle {
	fill: var(--btn-primary-color);
}

.link:hover rect,
.link:hover path,
.link:focus-visible rect,
.link:focus-visible path {
	stroke: var(--btn-primary-color);
}
