.link {
	color: var(--gray-400);
	transition: all 0.3s;
}
.link:hover,
.link:focus-visible {
	transform: translateY(-3px);
	transition: all 0.3s;
}
.link:focus-visible {
	outline: none;
}

.link g,
.link circle {
	fill: var(--gray-400);
	transition: all 0.3s;
}

.link g > path {
	stroke: none !important;
}

.link rect,
.link path {
	stroke: var(--gray-400);
	transition: all 0.3s;
}

.link:hover g,
.link:hover circle,
.link:focus-visible g,
.link:focus-visible circle {
	fill: var(--primary);
}

.link:hover rect,
.link:hover path,
.link:focus-visible rect,
.link:focus-visible path {
	stroke: var(--primary);
}
